<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
  </head>
  <body>
  <script type="text/javascript" src="../dist/main.3e3d90dd7f9d6827d7e5.js"></script></body>
</html>