doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    base(href='/')

    link(rel="stylesheet" href=static.domain+'/css/coin.css?'+static.version)

    block header

  block body

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/ko.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.4.7/bluebird.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.0/sweetalert2.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js')
  script(src=static.domain+'/js/coin.app.js?'+static.version)

  if process.env.NODE_ENV == 'development'
    script(src="//localhost:35729/livereload.js")
    //- 
  if process.env.NODE_ENV == 'production'
    //- 
  block footer